body{
    font-family: 'Roboto', sans-serif;
}
.team-wrapper{
    background: #2c2d33;
    padding: 50px 0px;
    min-height: 100vh;
}
.section-title{
    padding: 30px 0px;
}
.section-title h2{
    font-size: 44px;
    font-weight: 700;
}
.team-item{
    position: relative;
    background: #424248;
    margin: 15px 5px;
    overflow: hidden;
    cursor: pointer;
    transition: all .5s;
}
.item-meta{
    position: absolute;
    background: #424248;
    width: 100%;
    bottom: -35px;
    left: 0;
    padding: 10px 20px;
    transition: all .5s;
}
.team-item:hover .item-meta{
    bottom: 0px;
}
.item-meta h3{
    color: #fff;
    font-size: 20px;
    font-weight: 500;
}
.item-meta h6{
    color: #ff8100;
}
.item-image img{
    transition: all .5s;
}
.team-item:hover img{
    background: #ff8100;
}